@media (max-width: 600px) {
    .hero {
        background: none;
        height: 27vh;
        padding-top: 12vh;
    }

    .hero .navbar {
        flex-direction: column;
        justify-content: flex-start;
        height: 65px;
        padding-bottom: 5rem;
    }

    .hero .navbar .logo {
        font-size: 1.1rem;
        line-height: 1.1;
    }

    .hero .navbar .logo > * {
        margin: 0;
        padding: 0;
    }

    .hero .navbar .logo p a {
        margin: 0;
        padding-bottom: 0;
    }

    .hero .navbar nav {
        font-size: 0.7rem;
    }

    .hero .content h1 {
        font-size: 25px;
    }

    .hero .content p {
        font-size: 15px;
        max-width: 600px;
        margin: 20px 0 30px;
    }

    #aboutMe .bioInfo {
        grid-template-areas:
        "bioimage bioimage bioimage"
        "bio bio bio"
    }

    #aboutMe .bioInfo .bioImage {
        grid-area: bioimage;
        max-width: 600px;
        aspect-ratio: 4/3;
        object-fit: contain;
        /* height: auto; */
    }

    #aboutMe .bioInfo .thirdWidth {
        width: 100vw;
    }

    #contact .contact {
        grid-template-areas:
        "email"
        "phone"
        "linkedIn";
    }

    #mainFooter .footerContent {
        flex-direction: column;
        text-align: center;
    }

    #mainFooter .footerContent .social i {
        margin: 0.8rem;
        padding: 0.7rem;
    }

    /* Introduction text size*/
    .introText {
        font-size: 1rem;
    }
}
